body {
font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Noto Sans TC', sans-serif;
text-transform: none;
}

.intro-lead-in{
 font-family: 'Noto Sans TC', sans-serif;
 font-style:normal; 
}

.intro-text{
 font-family: 'Noto Sans TC', sans-serif;	
}

.navbar-brand js-scroll-trigger{
 font-family: 'Noto Sans TC', sans-serif;	
}

.intro-heading{
  font-family: 'Noto Sans TC', sans-serif !important;	
}
nav.navbar navbar-expand-lg navbar-dark fixed-top {
	background-color:#ccb97e!important;
}
#mainNav.navbar-shrink{
	background-color:#6795b8!important;
}


.btn-primary {
    background-color: #ccb14e!important;
	border-color:#ccb14e!important;
}
.navbar-brand{
	color:#FFFFFF!important;
}
.fas fa-circle fa-stack-2x text-primary{
	color: #ccb14e!important;
}