col-mb-4.{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

body {
font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Noto Sans TC', sans-serif;
text-transform: none;
}

intro-lead-in.{
 font-family: 'Noto Sans TC', sans-serif;	
}